body {
    color: #6e6e6e;
}

h1 {
    color: #22D6B2;
}

input [type="text"] {
    width: 300px;
    height: 50px;
    border: 0px;
    background:#fff;
}

button {
    color: #6e6e6e;
    font-size: 85%;
    background: transparent; 
    border: 2px solid #22D6B2;
    border-radius: 6px; 
}

button:hover {
    background-color: #22D6B2;
    color: white;
}